doctype 
html 
  head 
    title this is title
    block style

  body 
    nav#navbar.top
      ul
        div#logo 
            img(src="../static/image/logo.webp", alt="logo")
            |SP
        li #[a(href="/") Home]
        li #[a(href="/About") About]
        li #[a(href="/contact") Contact]
        li #[a(href="/Service") Service]
    block content 
    footer#foot 
        |Copyright 2022 ©  || All Rights Reserved    
        