doctype html 
html
    head 
        title this is title
        style
           include ../static/style.css
    body 
        section#intro-section  
            div Welcome To Dance Academy 
            div#small Eat Sleep Dance Repeat
        section#mission 
            h2 Our Mission 
            div.card
               p para
        section#sponsor
            h2 Companies 
            div#companies
               img(src="../static/image/apple.png", alt="")
               img(src="../static/image/honda.png", alt="")
               img(src="../static/image/netflix.png", alt="")
               img(src="../static/image/samsung.jpg", alt="")
               img(src="../static/image/ibm.png", alt="")        
        footer#foot 
            |Copyright 2022 ©  || All Rights Reserved    
        script  
           include ../static/index.js